html {
    background: #018ded url(http://unsplash.it/1500/1000?image=881&blur=50);
    background-size: cover;
    text-align: center;
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width:  30rem;
    height: 30rem;
    border: 2rem solid white;
    border-radius: 50%;
    margin: 5rem auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0rem .4rem rgba(0, 0, 0, .1),
        inset 0 0 0 .3rem #efefef,
        inset 0 0 1rem black,
        0 0 1rem rgba(0, 0, 0, .2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-.3rem);
}

.hand {
    width: 50%;
    height: .6rem;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .05s;
    transition-timing-function:  cubic-bezier(0.21, 2.88, 0.58, 1);
}

.min-hand {
    background: #6e6e6e;
}

.hour-hand {
    background: #3b3b3b;
}